.sticky-p4-1 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 15px;
    z-index: 10;
  }

.sticky-p4-2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 15px;
    z-index: 20;
}

.sticky-p4-3 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 15px;
    z-index: 30;
}

.sticky-p4-4 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 15px;
    z-index: 40;
}
.my-img-p4 {
    position: relative;
}
.my-img-p4 img {
    position: absolute;
    width: 100%!important;
    height: 55rem; 
    object-fit:cover;
}

.sidebar-p4 {
    position: absolute;
    top: 2rem;
    left: auto;
    right: 5%;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    font-size: 1rem;
}
.sidebar-p4 h3 {
    font-weight: bold;
    padding: 1rem 0 0 1.3rem;

}
.sidebar-p4 li {
    border-bottom: 2px solid #ffd7009f;
    text-align: left;
    margin: 0 1rem 0 0rem;
    padding: 0.5rem;
}
.sidebar-p4 a:hover {
    cursor: pointer;
}

.my-title-p4 {
    position: absolute;
    top: 23%;
    left: 5%;
    right: auto;
   
}
.my-title-p4 h1 {
    position: absolute;
    color: white;
    border-bottom: 5px solid tomato;
    font-weight: bold;
    font-size: 4.5rem;
    text-shadow: 1px 1px 1px black;
}
.my-section2-p4 {
    position: relative;
    top: 56rem;
    line-height: 1.6;
    font-size: 1.5rem;
    height: 215rem;
}
#subtitle-p4 {
    position: relative;
    padding-left: 5rem;
}
#subtitle-p4 h2 {
    font-weight: bold;
}

@media (max-width: 644px) {
    .my-title-p4{
        left: 15%;
        right: 15%;
     } 
}
